Repository TrueTechTeam/true-tech-team: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --cache, eslint --fix --max-warnings=0 --cache, stylelint --fix --cache

some cleanup
  .github/workflows/pr.yml
  .github/workflows/push-ui-components.yml
  .husky/pre-commit
  .lintstagedrc.json
  eslint.config.mjs
  libs/landing-app-e2e/eslint.config.mjs
  libs/landing-app/eslint.config.mjs
  libs/ui-components/jest.config.ts
  libs/ui-components/src/lib/components/inputs/PhoneInput/PhoneInput.test.tsx
  libs/ui-components/src/test-setup.ts
  libs/ui-components/tsconfig.spec.json
  package-lock.json
  package.json
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

update configs add tests
  .github/workflows/pr.yml
  .github/workflows/push-ui-components.yml
  commitlint.config.js
  eslint.config.mjs
  libs/ui-components/CHANGELOG.md
  libs/ui-components/project.json
  libs/ui-components/src/lib/components/buttons/Button/Button.module.scss
  libs/ui-components/src/lib/components/forms/FormBuilder/FormBuilder.test.tsx
  libs/ui-components/src/lib/components/forms/FormBuilder/hooks/useFormState.test.tsx
  libs/ui-components/src/lib/components/forms/FormBuilder/hooks/useFormValidation.test.ts
  libs/ui-components/src/lib/components/inputs/PhoneInput/PhoneInput.test.tsx
  libs/ui-components/src/lib/components/layout/AdaptiveGrid/AdaptiveGrid.test.tsx
  libs/ui-components/src/lib/components/layout/MasonryLayout/MasonryLayout.test.tsx
  libs/ui-components/src/lib/components/layout/Panes/Panes.test.tsx
  libs/ui-components/src/lib/components/layout/ResponsiveStack/ResponsiveStack.test.tsx
  libs/ui-components/src/lib/components/navigation/BottomNavigation/BottomNavigation.test.tsx
  libs/ui-components/src/lib/components/navigation/Breadcrumbs/BreadcrumbItem.test.tsx
  libs/ui-components/src/lib/components/navigation/Breadcrumbs/BreadcrumbSeparator.test.tsx
  libs/ui-components/src/lib/components/navigation/Breadcrumbs/useBreadcrumbsFromPath.test.tsx
  libs/ui-components/src/lib/components/navigation/CollapsibleSidebar/CollapsibleSidebar.test.tsx
  libs/ui-components/src/lib/components/navigation/NavLink/NavLink.test.tsx
  libs/ui-components/src/lib/components/navigation/Pagination/Pagination.test.tsx
  libs/ui-components/src/lib/components/navigation/SideNav/SideNav.test.tsx
  libs/ui-components/src/lib/components/navigation/Stepper/Step.test.tsx
  libs/ui-components/src/test-setup.ts
  nx.json
  package-lock.json
  package.json
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache, stylelint --fix --cache

fix pipeline
  .github/workflows/pr.yml
Due: none

remove lint package for now
  eslint.config.mjs
  libs/ui-components/eslint.config.mjs
  package-lock.json
  package.json
Due: prettier --write --cache

test: update configs add tests
  .github/workflows/pr.yml
  .github/workflows/push-ui-components.yml
  commitlint.config.js
  eslint.config.mjs
  libs/ui-components/CHANGELOG.md
  libs/ui-components/project.json
  libs/ui-components/src/lib/components/buttons/Button/Button.module.scss
  libs/ui-components/src/lib/components/forms/FormBuilder/FormBuilder.test.tsx
  libs/ui-components/src/lib/components/forms/FormBuilder/hooks/useFormState.test.tsx
  libs/ui-components/src/lib/components/forms/FormBuilder/hooks/useFormValidation.test.ts
  libs/ui-components/src/lib/components/inputs/PhoneInput/PhoneInput.test.tsx
  libs/ui-components/src/lib/components/layout/AdaptiveGrid/AdaptiveGrid.test.tsx
  libs/ui-components/src/lib/components/layout/MasonryLayout/MasonryLayout.test.tsx
  libs/ui-components/src/lib/components/layout/Panes/Panes.test.tsx
  libs/ui-components/src/lib/components/layout/ResponsiveStack/ResponsiveStack.test.tsx
  libs/ui-components/src/lib/components/navigation/BottomNavigation/BottomNavigation.test.tsx
  libs/ui-components/src/lib/components/navigation/Breadcrumbs/BreadcrumbItem.test.tsx
  libs/ui-components/src/lib/components/navigation/Breadcrumbs/BreadcrumbSeparator.test.tsx
  libs/ui-components/src/lib/components/navigation/Breadcrumbs/useBreadcrumbsFromPath.test.tsx
  libs/ui-components/src/lib/components/navigation/CollapsibleSidebar/CollapsibleSidebar.test.tsx
  libs/ui-components/src/lib/components/navigation/NavLink/NavLink.test.tsx
  libs/ui-components/src/lib/components/navigation/Pagination/Pagination.test.tsx
  libs/ui-components/src/lib/components/navigation/SideNav/SideNav.test.tsx
  libs/ui-components/src/lib/components/navigation/Stepper/Step.test.tsx
  libs/ui-components/src/test-setup.ts
  nx.json
  package-lock.json
  package.json
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache, stylelint --fix --cache

fix: pipeline
  .github/workflows/pr.yml
Due: none

revert(lint): remove lint package for now
  eslint.config.mjs
  libs/ui-components/eslint.config.mjs
  package-lock.json
  package.json
Due: prettier --write --cache

update merge pipeline
  .github/workflows/push-ui-components.yml
Due: none

fix(ui-components): lint errors
  libs/hotmess-mobile/src/contexts/AuthContext.tsx
  libs/hotmess-mobile/src/hooks/useSupabaseQuery.ts
  libs/hotmess-mobile/src/lib/supabase.ts
  libs/hotmess-mobile/src/navigation/RootNavigator.tsx
  libs/hotmess-mobile/src/navigation/types.ts
  libs/hotmess-mobile/src/screens/auth/WelcomeScreen.tsx
  libs/hotmess-mobile/src/screens/player/DashboardScreen.tsx
  libs/hotmess-mobile/src/screens/player/ScheduleScreen.tsx
  libs/hotmess-mobile/src/screens/shared/ProfileScreen.tsx
  libs/ui-components/.storybook/preview.tsx
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

update(pipeline): node version
  .github/workflows/pr.yml
  .github/workflows/push-ui-components.yml
Due: none

fix(pipeline): node version
  .github/workflows/pr.yml
  .github/workflows/push-ui-components.yml
Due: none

fix(package): update-script
  package.json
Due: prettier --write --cache

update node in netlify
  libs/ui-components/netlify.toml
Due: none

ci(netlify): node version
  libs/ui-components/netlify.toml
Due: none

update and publish version
  libs/ui-components/package.json
  package-lock.json
Due: prettier --write --cache

fix(permissions): added commissioner permissions
  libs/hotmess-utils/src/lib/permissions/role-permissions.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

change netlify config
  libs/hotmess-web/netlify.toml
  libs/landing-app/netlify.toml
Due: none

update envs
  libs/hotmess-web/.env.example
  libs/hotmess-web/netlify.toml
Due: none

feat(landing-app): migrate auth from NextAuth to Supabase
  libs/landing-app/.env.local.example
  libs/landing-app/next-env.d.ts
  libs/landing-app/src/app/(protected)/dashboard/AdminPanel.tsx
  libs/landing-app/src/app/(protected)/dashboard/dashboard.module.scss
  libs/landing-app/src/app/(protected)/dashboard/page.tsx
  libs/landing-app/src/app/api/auth/[...nextauth]/route.ts
  libs/landing-app/src/app/api/auth/callback/route.ts
  libs/landing-app/src/app/api/auth/register/route.ts
  libs/landing-app/src/app/layout.tsx
  libs/landing-app/src/components/Providers.tsx
  libs/landing-app/src/components/auth/LoginForm.tsx
  libs/landing-app/src/components/auth/SignupForm.tsx
  libs/landing-app/src/components/layout/Header.tsx
  libs/landing-app/src/context/AuthContext.tsx
  libs/landing-app/src/lib/auth/auth-options.ts
  libs/landing-app/src/lib/auth/permissions.ts
  libs/landing-app/src/lib/supabase/client.ts
  libs/landing-app/src/lib/supabase/middleware.ts
  libs/landing-app/src/lib/supabase/server.ts
  libs/landing-app/src/middleware.ts
  libs/landing-app/src/types/next-auth.d.ts
  libs/landing-app/supabase/001_schema.sql
  libs/ui-components/src/index.ts
  package-lock.json
  package.json
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache, stylelint --fix --cache

chore(ui-components): bump version to 1.0.1
  libs/ui-components/package.json
Due: prettier --write --cache

feat(landing-app): migrate auth from NextAuth to Supabase (#6)
  libs/landing-app/.env.local.example
  libs/landing-app/next-env.d.ts
  libs/landing-app/src/app/(protected)/dashboard/AdminPanel.tsx
  libs/landing-app/src/app/(protected)/dashboard/dashboard.module.scss
  libs/landing-app/src/app/(protected)/dashboard/page.tsx
  libs/landing-app/src/app/api/auth/[...nextauth]/route.ts
  libs/landing-app/src/app/api/auth/callback/route.ts
  libs/landing-app/src/app/api/auth/register/route.ts
  libs/landing-app/src/app/layout.tsx
  libs/landing-app/src/components/Providers.tsx
  libs/landing-app/src/components/auth/LoginForm.tsx
  libs/landing-app/src/components/auth/SignupForm.tsx
  libs/landing-app/src/components/layout/Header.tsx
  libs/landing-app/src/context/AuthContext.tsx
  libs/landing-app/src/lib/auth/auth-options.ts
  libs/landing-app/src/lib/auth/permissions.ts
  libs/landing-app/src/lib/supabase/client.ts
  libs/landing-app/src/lib/supabase/middleware.ts
  libs/landing-app/src/lib/supabase/server.ts
  libs/landing-app/src/middleware.ts
  libs/landing-app/src/types/next-auth.d.ts
  libs/landing-app/supabase/001_schema.sql
  libs/ui-components/src/index.ts
  package-lock.json
  package.json
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache, stylelint --fix --cache

fix(netlify): omit public env vars from secret scanning
  netlify.toml
Due: none

chore: remove Turbopack CSS resolveAlias workaround
  next.config.js
  package-lock.json
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

Path conditions:
  prettier --write --cache: (((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md})) or (any of: *.{css,scss})
  eslint --fix --max-warnings=0 --cache: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  stylelint --fix --cache: any of: *.{css,scss}
